version: '3'

services:
  payload:
    image: node:22-alpine
    ports:
      - '3000:3000'
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    command: sh -c "corepack enable && corepack prepare pnpm@latest --activate && pnpm install && pnpm dev"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      # ИСПРАВЛЕНО: используем хост 'postgres' вместо '127.0.0.1'
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/payload
      - PAYLOAD_SECRET=2adebfa5e67a885c07f13c2a

  postgres:
    restart: always
    image: postgres:16-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-payload}

volumes:
  pgdata:
  node_modules: